@charset "UTF-8";

/* CSS Document */

body,
html {
    /* together with 100% height on the sections triggering full screen view */
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #f0f0f0;
    font-family: 'Maven Pro', sans-serif;
    color: #313131;
    font-size: medium;
}


/* navigation bar */

#stickynav {
    position: relative;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background: #B5B2B0;
    padding: 5px;
}

#stickynav a {
    position: relative;
    top: 27px;
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 5px 11px 0px 11px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#stickynav a:hover {
    background: #C9DB50;
    color: white;
}


/* page structure */

section {
    display: block;
    height: 100vh;
    margin-top: 10vh;
}


/* The :nth-child(n) selector matches every element that is the nth child, regardless of type, of its parent. */

section:nth-child(2) {
    background-color: white;
}

section:nth-child(3) {
    background-color: white;
}

section:nth-child(4) {
    background-color: white;
}

section:nth-child(5) {
    background-color: white;
}

.thebox {
    display: block;
    background-color: #B5B2B0;
    width: 87%;
    height: 620px;
    padding-top: 40px;
    margin-top: 30px;
    margin-left: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box {
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 500px;
    margin-left: 14%;
    border-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box1 {
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 540px;
    margin-left: 50px;
    margin-right: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box2 {
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 560px;
    margin-right: 60px;
    margin-top: 2px;
    border-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.overhead {
    display: inline-block;
    background-color: #C9DB50;
    height: 60px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.overhead h1 {
    text-align: center;
    font-size: 1, 5em;
}

.box p {
    text-align: center;
}

.box1 p {
    text-align: center;
}

.box2 p {
    text-align: center;
}

#Hotbot h2 {
    text-align: center;
}

.overskrift {
    font-size: 1em;
}

.brødtekst {
    font-size: 0.8em;
}

.billede {
    width: 400px;
    height: 270px;
}

.billede img {
    width: 400px;
    height: 270px;
    margin-left: 170%;
    margin-top: -172px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ikoner {
    width: 400px;
    height: 270px;
}

.ikoner img {
    width: 80px;
    height: 27px;
    margin-left: 15%;
}

.brødtekst2 {
    font-size: 0.8em;
    margin-left: 100px;
}

#om h2 {
    text-align: center;
}

.form-style-9 {
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #3D6BB4;
}

.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style-9 ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style-9 ul li .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-style-9 ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
    width: 49%;
}

.form-style-9 ul li .field-full {
    width: 100%;
}

.form-style-9 ul li input.align-left {
    float: left;
}

.form-style-9 ul li input.align-right {
    float: right;
}

.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #749CD3;
    -webkit-box-shadow: inset 0px 1px 0px 0px #749CD3;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #3D6BB4;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.contact-text-box clearfix-box {
    width: 50%;
    padding: 50px;
}

.clearfix-box:before,
.clearfix-box:after {
    content: "";
    display: table;
}

.clearfix-box: after {
    clear: both;
}

.clearfix-box {
    zoom: 1;
}

.contact-text {
    padding: 50px;
    margin: 50px;
    
}

.contact-form-box {
    width: 100%;
    padding: 50px;
}

.form-style-9 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-9 label>span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}


/* jquery slider start*/

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 15px;
}

.container {
    -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.3)));
    box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.3)));
    .slideShow_container {
        position: relative;
        max-width: 85%;
        margin: auto;
        .mySlide {
            display: none;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        .next,
        .prev {
            font-family: 'Nunito', sans-serif;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
            font-size: 32px;
            font-weight: bolder;
            transition: all 0.4s ease-in-out;
            &:hover {
                background-color: rgba(52, 73, 94, 0.4);
            }
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .text {
            font-family: 'Nunito', sans-serif;
            text-align: center;
            font-size: 24px;
            font-weight: bolder;
            color: white;
            position: absolute;
            bottom: 18px;
            width: 100%;
        }
        .numberText {
            font-family: 'Nunito', sans-serif;
            position: absolute;
            color: white;
            left: 20px;
            top: 20px;
            font-size: 24px;
            font-weight: bolder;
        }
    }
    .dot_container {
        text-align: center;
        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 2px;
            background-color: rgba(189, 195, 199, 0.5);
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            &:hover {
                background-color: rgba(189, 195, 199, 1.0);
                transform: scale(1.4, 1.4);
            }
        }
        .active {
            background-color: rgba(52, 73, 94, 1.0);
            transform: scale(1.4, 1.4);
        }
    }
    .fade {
        -webkit-animation-name: fade;
        -moz-animation-name: fade;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: 0.4
        }
        to {
            opacity: 1
        }
    }
    @keyframes fade {
        from {
            opacity: 0.4
        }
        to {
            opacity: 1
        }
    }
    screens @media screen and (max-width: 992px) {
        .slideShow_container {
            max-width: 95%;
            .mySlide {
                img {
                    width: 100%;
                }
            }
        }
    }
}


/* jquery slider slut*/

.wrapper-content {
    margin-left: 105px;
    margin-right: 105px;
}

.section-1 {
    
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
}

.contact-form {
}

.contact-text-box {
    width: 30%;
    float: left;
}

.clearfix-groupbox {
    
}
